#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

#root{
  width:100%;
  height:100vh;
}
#card-element{
  width:50%;
  height:300px;
  margin:0 auto;
  clear: both;
}
#card-element, #card-element iframe{
  height:180px!important;
}
